<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2566},{996,932}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{106,169},{996,932}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1984,0},{777,880}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,222},{777,880}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{2784,1019},{692,907}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,195},{692,907}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2762,0},{724,1018}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{358,74},{724,1018}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,839},{932,900}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,117},{932,900}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1063,838}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,152},{1063,838}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,839},{1050,906}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{78,185},{1050,906}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,1740},{831,855}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,244},{831,855}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{2753,2596},{769,859}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,235},{769,859}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1952,2596},{800,966}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,126},{800,966}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,2566},{954,871}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,118},{954,871}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

			<key>Run_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1746},{1006,819}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,129},{1006,819}}</string>
				<key>sourceSize</key>
				<string>{1145,1102}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>run.png</string>
			</dict>
		</dict>
</plist>