<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Sit_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2224,2748},{623,1003}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,0},{623,1003}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2210,0},{648,993}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{296,22},{648,993}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,0},{671,978}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,46},{671,978}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,2748},{691,961}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,69},{691,961}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,1792},{744,955}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,78},{744,955}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,847},{759,944}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,89},{759,944}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,2592},{764,930}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,102},{764,930}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2592},{766,909}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,119},{766,909}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1706},{768,885}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,137},{768,885}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,847},{777,858}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{79,158},{777,858}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,846}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,167},{781,846}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,846}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,167},{781,846}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,846}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,167},{781,846}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,846}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,167},{781,846}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

			<key>Sit_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,846}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,167},{781,846}}</string>
				<key>sourceSize</key>
				<string>{949,1055}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>walk.png</string>
			</dict>
		</dict>
</plist>