<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Walk_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{822,982}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,160},{822,982}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,983},{771,1002}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,158},{771,1002}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,983},{670,1031}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{90,136},{670,1031}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,2081},{624,1078}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,83},{624,1078}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2095,0},{556,1083}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,81},{556,1083}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{651,1056}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,103},{651,1056}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,2985},{729,995}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,146},{729,995}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1986},{747,998}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,148},{747,998}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,1057},{651,1023}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,127},{651,1023}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2652,0},{547,1051}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,83},{547,1051}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{2092,2081},{575,1075}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,63},{575,1075}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

			<key>Walk_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2985},{736,1062}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,79},{736,1062}}</string>
				<key>sourceSize</key>
				<string>{877,1187}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>walk.png</string>
			</dict>
		</dict>
</plist>