<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,2092},{832,1046}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,34},{832,1046}}</string>
				<key>sourceSize</key>
				<string>{1880,1098}</string>
			</dict>

			<key>Attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1046},{822,1026}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,63},{822,1026}}</string>
				<key>sourceSize</key>
				<string>{1880,1098}</string>
			</dict>

			<key>Attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2092},{964,1043}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,31},{964,1043}}</string>
				<key>sourceSize</key>
				<string>{1880,1098}</string>
			</dict>

			<key>Attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1046},{1541,1045}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,32},{1541,1045}}</string>
				<key>sourceSize</key>
				<string>{1880,1098}</string>
			</dict>

			<key>Attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1859,1045}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,33},{1859,1045}}</string>
				<key>sourceSize</key>
				<string>{1880,1098}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>attack.png</string>
			</dict>
		</dict>
</plist>