<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3332},{996,707}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,588},{996,707}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1146,2641},{979,1184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,109},{979,1184}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,0},{805,1273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,18},{805,1273}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1308},{935,1062}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,228},{935,1062}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2097,0},{668,1277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,65},{668,1277}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1290,651}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,676},{1290,651}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{1274,655}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,674},{1274,655}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1308},{1264,658}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,691},{1264,658}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1967},{1241,673}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,676},{1241,673}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

			<key>Attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2641},{1145,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,633},{1145,690}}</string>
				<key>sourceSize</key>
				<string>{1639,1391}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>