<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{980,981},{289,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,37},{289,485}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,492},{289,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,34},{289,488}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,0},{312,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,31},{312,491}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1427},{491,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,32},{491,490}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,1427},{487,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,40},{487,482}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{514,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,52},{514,472}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,473},{512,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,52},{512,476}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,950},{509,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,52},{509,476}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,950},{394,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,48},{394,474}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

			<key>Attack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,0},{367,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,85},{367,480}}</string>
				<key>sourceSize</key>
				<string>{524,565}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>attackAlita.png</string>
			</dict>
		</dict>
</plist>