<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,469},{304,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,49},{304,473}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,0},{293,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,40},{293,503}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,504},{289,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{289,476}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,504},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,504},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,504},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{309,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,38},{309,468}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,0},{294,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,38},{294,460}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{305,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,36},{305,456}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{305,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,36},{305,456}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>jumpAlita.png</string>
			</dict>
		</dict>
</plist>