<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,502},{292,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,24},{292,485}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,497},{285,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,15},{285,497}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{311,501}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,11},{311,501}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{363,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,12},{363,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,499},{288,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,12},{288,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,502},{288,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,12},{288,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,0},{288,498}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,12},{288,498}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{328,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,10},{328,503}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,501},{315,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,12},{315,502}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1246,0},{286,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,17},{286,496}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>throwAlita.png</string>
			</dict>
		</dict>
</plist>