<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3224},{983,686}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,554},{983,686}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1141,2569},{958,1139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,98},{958,1139}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,0},{781,1219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,19},{781,1219}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1253,1257},{912,1023}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,216},{912,1023}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2075,0},{668,1240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,47},{668,1240}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1292,605}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{288,640},{1292,605}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1257},{1252,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{325,620},{1252,650}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{1272,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,635},{1272,650}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1908},{1242,660}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,621},{1242,660}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

			<key>Attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2569},{1140,654}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,601},{1140,654}}</string>
				<key>sourceSize</key>
				<string>{1598,1323}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>attack_Murad.png</string>
			</dict>
		</dict>
</plist>