<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Dead_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{3015,0},{983,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{983,704}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,696},{992,699}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,5},{992,699}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,0},{999,695}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,10},{999,695}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,1334},{1009,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,15},{1009,690}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1334},{1011,694}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,23},{1011,694}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1135,711}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,51},{1135,711}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,712},{1119,621}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,176},{1119,621}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3015,705},{934,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{134,311},{934,422}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{3011,1396},{978,419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{95,333},{978,419}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

			<key>Dead_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2022,1396},{988,416}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{95,353},{988,416}}</string>
				<key>sourceSize</key>
				<string>{1183,931}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>Dead_Murad.png</string>
			</dict>
		</dict>
</plist>