<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Hurt_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2213},{983,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{194,198},{983,704}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1028,742}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,195},{1028,742}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,3043},{890,831}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,74},{890,831}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1861,2232},{900,810}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,95},{900,810}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,0},{908,789}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,116},{908,789}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,1463},{915,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{47,137},{915,768}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,2918},{921,746}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,159},{921,746}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2918},{938,739}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,171},{938,739}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1463},{1013,749}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,189},{1013,749}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

			<key>Hurt_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,743},{1025,719}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,217},{1025,719}}</string>
				<key>sourceSize</key>
				<string>{1190,938}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>