<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Idle_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2025,1370},{983,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,0},{983,704}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,2027},{998,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{998,698}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3397},{1012,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,15},{1012,690}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2027},{1025,684}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,22},{1025,684}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,671},{1038,677}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,30},{1038,677}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1052,670}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,37},{1052,670}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1349},{1038,677}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,30},{1038,677}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2712},{1025,684}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,22},{1025,684}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,3397},{1012,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,15},{1012,690}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

			<key>Idle_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,671},{998,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,7},{998,698}}</string>
				<key>sourceSize</key>
				<string>{1056,715}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>Idle_Murad.png</string>
			</dict>
		</dict>
</plist>