<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1343,740},{983,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,442},{983,704}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,1809},{1008,666}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,497},{1008,666}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1489,0},{879,721}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{208,232},{879,721}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1809},{1177,737}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,194},{1177,737}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1488,739}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,263},{1488,739}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{1342,1068}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,21},{1342,1068}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,3241},{1009,614}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,537},{1009,614}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2547},{1026,635}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,520},{1026,635}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3183},{1026,664}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{146,503},{1026,664}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

			<key>Jump_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,2547},{1014,693}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{144,472},{1014,693}}</string>
				<key>sourceSize</key>
				<string>{1516,1242}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>Jump_Murad.png</string>
			</dict>
		</dict>
</plist>