<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Dead__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,645},{292,494}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,37},{292,494}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1346},{322,462}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,75},{322,462}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1346},{386,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,106},{386,454}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,961},{435,384}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,166},{435,384}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{475,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,225},{475,315}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{491,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{42,239},{491,324}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{479,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,255},{479,319}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{479,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,255},{479,319}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{479,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,255},{479,319}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

			<key>Dead__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{479,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,255},{479,319}}</string>
				<key>sourceSize</key>
				<string>{578,599}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>dead.png</string>
			</dict>
		</dict>
</plist>