<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,0},{310,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,36},{310,459}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1372},{300,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,36},{300,460}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,452},{316,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,37},{316,457}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1355},{355,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,34},{355,456}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{361,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,34},{361,452}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{365,451}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,34},{365,451}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,452},{362,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,36},{362,449}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1355},{334,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,35},{334,450}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,460},{306,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,35},{306,453}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,914},{305,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,35},{305,457}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>jump_throw.png</string>
			</dict>
		</dict>
</plist>