<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Slide__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{394,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{394,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{392,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{392,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1584},{390,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{390,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2376},{388,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{388,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3169},{386,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,2},{386,396}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3566},{385,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,2},{385,396}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2772},{386,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,2},{386,396}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1980},{388,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,3},{388,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1188},{390,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{390,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

			<key>Slide__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{392,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{392,395}}</string>
				<key>sourceSize</key>
				<string>{397,401}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,4096}</string>
			<key>textureFileName</key>
			<string>slide.png</string>
			</dict>
		</dict>
</plist>