<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Throw__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1508},{292,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,24},{292,485}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1497},{285,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,15},{285,497}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1508},{311,501}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,11},{311,501}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{363,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,12},{363,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1005},{288,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,12},{288,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,0},{288,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,12},{288,500}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,501},{288,498}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,12},{288,498}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{328,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,10},{328,503}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{315,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,12},{315,502}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

			<key>Throw__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1000},{286,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,17},{286,496}}</string>
				<key>sourceSize</key>
				<string>{383,514}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>throw.png</string>
			</dict>
		</dict>
</plist>