<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gold_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,62},{43,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,61}}</string>
			<key>sourceSize</key>
			<string>{43,61}</string>
		</dict>
		<key>gold_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,0},{20,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,61}}</string>
			<key>sourceSize</key>
			<string>{20,61}</string>
		</dict>
		<key>gold_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,62},{43,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,61}}</string>
			<key>sourceSize</key>
			<string>{43,61}</string>
		</dict>
		<key>gold_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{59,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,61}}</string>
			<key>sourceSize</key>
			<string>{59,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128,128}</string>
		<key>textureFileName</key>
		<string>gold.png</string>
	</dict>
</dict>
</plist>
