<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,1214},{770,1176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,97},{770,1176}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,0},{749,1181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,102},{749,1181}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1630,1182},{699,1147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{86,123},{699,1147}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2330,0},{606,1216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,69},{606,1216}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,2420},{789,1205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,36},{789,1205}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2420},{814,1217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,55},{814,1217}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1605,2391},{714,1199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,71},{714,1199}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1214},{858,1205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,44},{858,1205}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{948,1213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,61},{948,1213}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

			<key>Run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{2320,2330},{665,1270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{213,13},{665,1270}}</string>
				<key>sourceSize</key>
				<string>{1086,1297}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>run.png</string>
			</dict>
		</dict>
</plist>