<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Walk_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,1304},{1030,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,8},{1030,698}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1093,664}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,47},{1093,664}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{1090,638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,73},{1090,638}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{2121,670},{912,652}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{120,58},{912,652}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{3014,1323},{840,678}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,31},{840,678}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{3071,0},{815,698}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{170,15},{815,698}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{2121,1323},{892,687}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,25},{892,687}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{2104,0},{966,669}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,38},{966,669}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1094,0},{1009,654}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,52},{1009,654}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

			<key>Walk_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1304},{1089,671}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{76,47},{1089,671}}</string>
				<key>sourceSize</key>
				<string>{1182,745}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,2048}</string>
			<key>textureFileName</key>
			<string>walk.png</string>
			</dict>
		</dict>
</plist>