<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2341,919},{605,1004}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,284},{605,1004}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2334,0},{727,918}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{104,380},{727,918}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1349,0},{984,859}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,443},{984,859}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,946},{1013,1115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,195},{1013,1115}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,2863},{1189,994}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,318},{1189,994}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2863},{1239,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,357},{1239,950}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1919},{1291,943}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,352},{1291,943}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1348,945}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,346},{1348,945}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

			<key>Attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,946},{1326,972}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{186,320},{1326,972}}</string>
				<key>sourceSize</key>
				<string>{1532,1315}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>attack.png</string>
			</dict>
		</dict>
</plist>