<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Death_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1550,0},{625,1003}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{330,68},{625,1003}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1898,1004},{617,976}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,91},{617,976}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,1021},{727,974}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{362,97},{727,974}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,2455},{903,990}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,83},{903,990}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3181},{1034,860}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,151},{1034,860}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1837},{1132,617}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,225},{1132,617}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1021},{1169,815}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,75},{1169,815}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2455},{1036,725}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,349},{1036,725}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,353},{1270,667}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,399},{1270,667}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

			<key>Death_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1549,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,722},{1549,352}}</string>
				<key>sourceSize</key>
				<string>{1562,1156}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>run.png</string>
			</dict>
		</dict>
</plist>