<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2593,0},{624,1003}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,765},{624,1003}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,0},{747,913}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,860},{747,913}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,3249},{789,829}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,940},{789,829}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{908,2376},{888,872}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,838},{888,872}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,914},{672,1364}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{320,78},{672,1364}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2513,2279},{634,1262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,9},{634,1262}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1513},{819,855}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{396,229},{819,855}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,2369},{715,974}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,429},{715,974}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2376},{907,948}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,703},{907,948}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1326,739}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,1037},{1326,739}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{1265,772}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,1003},{1265,772}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{1265,772}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{38,1003},{1265,772}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

			<key>Jump_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1513},{1099,862}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,921},{1099,862}}</string>
				<key>sourceSize</key>
				<string>{1350,1789}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>textureFileName</key>
			<string>jump.png</string>
			</dict>
		</dict>
</plist>