<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Turn_to_walk_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,992},{625,1003}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,0},{625,1003}}</string>
				<key>sourceSize</key>
				<string>{821,1052}</string>
			</dict>

			<key>Turn_to_walk_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,0},{604,984}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,23},{604,984}}</string>
				<key>sourceSize</key>
				<string>{821,1052}</string>
			</dict>

			<key>Turn_to_walk_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,992},{616,987}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,27},{616,987}}</string>
				<key>sourceSize</key>
				<string>{821,1052}</string>
			</dict>

			<key>Turn_to_walk_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{636,991}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,26},{636,991}}</string>
				<key>sourceSize</key>
				<string>{821,1052}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>turn_to_walk.png</string>
			</dict>
		</dict>
</plist>