<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Climb_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,0},{318,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,5},{318,485}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1447},{317,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,5},{317,482}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,974},{318,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,5},{318,472}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{317,478}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,5},{317,478}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,486},{318,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,6},{318,487}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{318,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{36,7},{318,490}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{318,487}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,6},{318,487}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{318,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,5},{318,479}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{318,472}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,5},{318,472}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

			<key>Climb_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1447},{317,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,5},{317,482}}</string>
				<key>sourceSize</key>
				<string>{361,497}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>climb.png</string>
			</dict>
		</dict>
</plist>