<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_Attack__000.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1027},{298,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,27},{298,485}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__001.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1513},{288,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,27},{288,503}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__002.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,0},{287,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,27},{287,500}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__003.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1084},{465,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,28},{465,515}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__004.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{465,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,33},{465,510}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1084},{483,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,39},{483,541}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{485,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,39},{485,541}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{485,541}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,39},{485,541}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__008.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,511},{314,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,33},{314,515}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

			<key>Jump_Attack__009.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,511},{371,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,29},{371,475}}</string>
				<key>sourceSize</key>
				<string>{495,583}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>jump_attack.png</string>
			</dict>
		</dict>
</plist>